.main-container{
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.frame{
  width: 80%;
  box-shadow: 0 4px 4px rgba(0 , 0 , 0 , .1);
  margin: 20px auto;
  display: flex;
  border-radius: 15px;
}
.slider{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
.imagestyle2{
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 5px;
}
  
.slider .imagestyle1 .slide{
  width: 585px;
  height: 400px;
}
.slider .imagestyle2 .slide{
  width: 195px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.slide:hover{
  cursor: pointer;
}
/*modal content add*/
 .gallery-img {
cursor: pointer;
transition: 0.3s;
}

.gallery-img:hover {
opacity: 0.7;
}

.details{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(0 , 0 , 0 , .2);
  margin: 20px auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
.detail{
  text-align: left;
  padding: 10px;
  /* color: rgb(70, 64, 64); */
}
.detail p{
  font-size: 17px;
  margin-bottom: 10px;
}
.detail h2{
  font-size: 20px;
  margin-bottom: 10px;
}
 .facility{
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 20px auto;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 1px 1px rgba(0.1 , 0.1 , 0.1 , .1);
}
.facility1{
  width: 100%;
  margin-top: 10px;
} 
.facility2 ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.facility2 li{
  width: 20%;
  margin-left: 30px;
  margin-bottom: 10px;
}
.facility h2{
  font-size: 20px;
  color: rgb(70, 64, 64);
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 10px;

}
 .select-room{
  width: 80%;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  /* border: 1px solid blue; */
}
.select-room h2{
  background-color: #eef7f6;
  box-shadow: 0 1px 1px 0 rgba(0 , 0 , 0 , .2);
  padding: 10px;
  font-weight: bolder;
}
.select{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 5px 10px 5px;
  gap: 18px;
  flex-wrap: wrap;
  margin: 20px auto;
  /* border: 2px solid red; */
}
.listt{
  width: 49%;
  height: 33vh;
  display: flex;
  gap: 18px;
  box-shadow: 0 1px 2px 1px rgba(0 , 0 , 0 , .2);
  margin-top: 10px;
  /* border: 1px solid red; */
}
.listt1{
  width: 300px;
  height: auto;
  overflow: hidden;
}
.listt2{
  width: 35%;
  display: block;
  text-align: left;
  margin-top: 5px;
}
.listt2 a{
  text-decoration: none;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif; 
  font-weight: bolder;
}
.listt2 ul{
  list-style: none;
  padding: 0;
  margin: 30px 0 60px 0;
}
.listt2 ul li{
  margin: 10px 0;
  font-family: Arial(serif); 
  font-size: 18px;
}
.chatt-btnp{
  width: 270px;
  border: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  padding: 15px;
  border-radius: 0;
  background-color: #3a98d8;
  margin-top: 30px;
  /* border: 1px solid red; */
}
.listt1 img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.important{
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-shadow: 0 1px 1px rgba(0 , 0 , 0 , .4);
  margin: 20px auto;
}
.important h1{
  font-size: 25px;
  padding: 5px;
  font-weight: bolder;
  color: rgb(240, 9, 9);
}
.lastimport{
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.import{
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}
.import1 ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.import1 li{
  width: 28%;
  margin-left: 30px;
  margin-bottom: 10px;
}
.important li{
  padding: 5px;
  margin-left: 20px;
}
.lastimport h3{
  text-align: left;
  font-size: 18px;
  margin-left: 15px;
  color: rgb(70, 64, 64);
} 