*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.aside{
    width: 30%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 8px 8px rgba(0 , 0 , 0 , .3);
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.main-part{
    width: 70%;
    height: 100%;
    background-color: #eeeded;
    font-size: 20px;
    box-shadow: 0 4px 4px rgba(0 , 0 , 0 , .2);
}
.aside1{
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    margin: 20px 20px 20px 40px;
    padding: 20px;
}
.asid{
   padding: 15px; 
   margin: 15px;

}
.asid a{
    text-decoration: none;
    color: #0092ca;
}
.asid a:hover{
    background-color: #27667B;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 10px;
}
.main-part{
    width: 100%;
    height: 100%;
}
.main-container{
    width: 90%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.user{
    text-align: left;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 20px;
    box-shadow: 0 8px 8px rgba(197, 191, 191, 0.5);
    background-color: #fff;
    padding: 30px;
    font-size: 20px;
}
.name{
    background-color:#acdf6d;
}
.row a{
    text-decoration: none;
}
.row h4{
    margin-bottom: 10px;
}
.row input{
    border: none;
    outline: none;
}
.row:hover{
    border: 1px solid rgb(255, 255, 255);
}